# Google Cloud Storage artifacts

- X.parquet
- y.parquet
- metrics_monitoring.parquet
- predictions_monitoring.parquet
- y_monitoring.parquet
- predictions.parquet

In [2]:
# import libraries

from settings import SETTINGS

In [7]:
from utility import get_bucket, read_blob_from

In [6]:
bucket = get_bucket(json_credentials_path="credentials/temporal-wares-409805-feab35315c7e.json")

`X.parquet`

In [14]:
X = read_blob_from(
        bucket=bucket, blob_name=f"X.parquet"
    )

X.head()

,update_timestamp,reading_west,reading_east,reading_central,reading_south,reading_north
timestamp,,,,,,
2016-02-10 12:00,2016-03-03 13:37:03,6,8,8,9,10
2016-02-10 13:00,2016-03-03 13:37:03,9,11,6,11,7
2016-02-10 14:00,2016-03-03 13:37:03,6,8,6,4,6
2016-02-10 15:00,2016-03-03 13:37:03,5,5,4,5,6
2016-02-10 17:00,2016-02-11 04:16:18,5,7,3,6,7

`y.parquet`

In [13]:
y = read_blob_from(
        bucket=bucket, blob_name=f"y.parquet"
    )

y.head()

                  reading_average
timestamp
2016-02-10 12:00                9
2016-02-10 13:00               10
2016-02-10 14:00                7
2016-02-10 15:00                5
2016-02-10 17:00                6

`predictions_monitoring.parquet`

In [15]:
cached_predictions = read_blob_from(
        bucket=bucket, blob_name=f"predictions_monitoring.parquet"
    )

cached_predictions.head()

                  reading_average
2023-12-18 04:00        14.255052
2023-12-18 05:00        13.388559
2023-12-18 06:00        13.073943
2023-12-18 07:00        12.110138
2023-12-18 08:00        11.102704

`metrics_monitoring.parquet`

In [16]:
cached_metrics = read_blob_from(
        bucket=bucket, blob_name=f"metrics_monitoring.parquet"
    )

cached_metrics.head()

       MAPE
0  0.350833

`y_monitoring.parquet`

In [17]:
y_monitoring = read_blob_from(
        bucket=bucket, blob_name=f"y_monitoring.parquet"
    )

y_monitoring.head()

                  reading_average
timestamp
2023-12-18 04:00                8
2023-12-18 05:00               10
2023-12-18 06:00                9
2023-12-18 07:00               11
2023-12-18 08:00                6

`predictions.parquet`

In [18]:
predictions = read_blob_from(
        bucket=bucket, blob_name=f"predictions.parquet"
    )

predictions.head()

                  reading_average
2023-12-18 04:00        14.255052
2023-12-18 05:00        13.388559
2023-12-18 06:00        13.073943
2023-12-18 07:00        12.110138
2023-12-18 08:00        11.102704