In [4]:
from typing import Tuple

import hopsworks
import pandas as pd

from settings import SETTINGS

In [6]:
def load_dataset_from_feature_store(
    feature_view_version: int, 
    training_dataset_version: int, 
    fh: int = 24
) -> Tuple[pd.DataFrame, pd.DataFrame, pd.DataFrame, pd.DataFrame]:
    """Load features from feature store.

    Args:
        feature_view_version (int): feature store feature view version to load data from
        training_dataset_version (int): feature store training dataset version to load data from
        fh (int, optional): Forecast horizon. Defaults to 24.

    Returns:
        Train and test splits loaded from the feature store as pandas dataframes.
    """

    project = hopsworks.login(
        api_key_value=SETTINGS["FS_API_KEY"], 
        project=SETTINGS["FS_PROJECT_NAME"]
    )
    fs = project.get_feature_store()

    feature_view = fs.get_feature_view(
            name="pm25_singapore_view", version=feature_view_version
        )
    data, _ = feature_view.get_training_data(
        training_dataset_version=training_dataset_version
    )

    return data

In [7]:
dataset = load_dataset_from_feature_store(
    feature_view_version=1,
    training_dataset_version=1
    )

Connected. Call `.close()` to terminate connection gracefully.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/284820
Connected. Call `.close()` to terminate connection gracefully.

UserWarning: Could not establish connection to ArrowFlight Server. (Flight returned timeout error, with message: Deadline Exceeded) Will fall back to hive/spark for this session. If the error persists, you can disable using ArrowFlight by changing the cluster configuration (set 'enable_flyingduck'='false').

In [8]:
dataset.head()

,timestamp,update_timestamp,reading_west,reading_east,reading_central,reading_south,reading_north
0,2023-12-08T09:00:00.000Z,2023-12-08T09:03:52.000Z,9,7,2,3,3
1,2023-12-07T23:00:00.000Z,2023-12-07T23:03:53.000Z,4,5,6,5,4
2,2023-12-08T05:00:00.000Z,2023-12-08T05:03:52.000Z,6,7,5,4,5
3,2023-12-07T20:00:00.000Z,2023-12-07T20:03:52.000Z,4,5,7,8,5
4,2023-12-08T02:00:00.000Z,2023-12-08T02:03:54.000Z,6,12,12,15,8